.about {
  margin-top: 30px;

  @include desktop() {
    display: flex;
  }

  &__left-side {
    position: relative;
    @include desktop() {
      max-width: calc(1920px * 87 / 128 + (100% - 1920px) / 2);
    }
  }

  &__slides {
  }

  &__slide-item {
    width: 100%;
    height: 100%;
  }

  &__color-box {
    width: 100%;
    height: 100%;
    background-color: yellow;
  }

  &__thumb {
  }

  &__container {
    padding-top: 120px;
    padding-bottom: 60px;

    @media (min-width: 1340px) {
      width: 890px;
    }

    @include desktop() {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(calc(-100% - 80px), calc(-80px - 100%));

      width: 870px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;

    @include desktop() {
      font-size: 30px;
      @include mobile() {
        font-size: 42px;
      }

      min-width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;

      &-span {
        display: block;
        width: 312px;
      }

      &::after {
        content: '';
        display: block;
        flex-basis: 100%;
        height: 2px;
        background-color: getColor(border);
      }
    }
  }

  &__text {
    margin-top: 30px;

    font-size: 16px;
    line-height: 145%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;

    @include desktop() {
      max-width: 520px;

      font-size: 18px;
    }
  }

  &__right__side {
    position: relative;
    margin-top: -16px;
    width: 100%;

    background-color: getColor(main);

    @include desktop() {
      margin-top: 0;
      width: calc(1920px * 41 / 128 + (100% - 1920px) / 2);
    }
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 20px;
    left: 100%;
    transform: translate(-100%, 0%);

    max-width: 100px;

    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;

    @include mobile() {
      left: calc(360px + (100% - 360px) / 2);
    }

    @include tablet() {
      left: calc(540px + (100% - 360px) / 2);
    }

    @include desktop() {
      gap: 23px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 18px;
      line-height: 145%;
    }

    &::before {
      content: '';
      display: block;
      width: 102px;
      height: 102px;

      margin-bottom: -50px;

      background-image: url(./assets/sprite.svg#about-eye-mob);

      @include desktop() {
        margin-bottom: 0;
        background-image: url(./assets/sprite.svg#about-eye);
      }
    }
  }

  &__icon {
  }

  &__video-caption {
    display: none;

    @include desktop() {
      display: block;

      position: absolute;
      top: 100%;
      left: 70%;
      transform: translate(-50%, calc(-80px - 100%));

      width: 120px;

      font-size: 16px;
      line-height: 145%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #ffffff;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 30px;

        position: absolute;
        top: 0;
        left: 0;
        transform: translate(calc(-100% - 5px), calc(-100% - 5px));

        background-image: url(./assets/sprite.svg#about-arrow);
      }
    }
  }

  &__decor {
    display: none;
    @include desktop() {
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      width: 300px;
      transform: translate(-100%, 0);
      height: 250px;

      background-image: url(./assets/about-figure.png);

      background-image: image-set(
        url(./assets/about-figure.webp) type('image/webp') 1x,
        url(./assets/about-figure@1.5x.webp) type('image/webp') 1.5x,
        url(./assets/about-figure@2x.webp) type('image/webp') 2x,
        url(./assets/about-figure@3x.webp) type('image/webp') 3x,
        url(./assets/about-figure.png) type('image/png') 1x,
        url(./assets/about-figure@1.5x.png) type('image/webp') 1.5x,
        url(./assets/about-figure@2x.png) type('image/png') 2x,
        url(./assets/about-figure@3x.png) type('image/png') 3x
      );
    }
  }

  &__number {
    display: none;

    @include desktop() {
      display: block;

      position: absolute;
      top: 100%;
      left: calc(100% - 140px);
      transform: translate(-100%, -100%);

      font-weight: 500;
      font-size: 24px;
      line-height: 145%;
      letter-spacing: 0.035em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #fff;
    }
  }
}

// ------------------------------- SEC-SLIDER --------------------------

.SEC-SLIDER {
  position: relative;
  $dot_size: 10px;

  & .slick-arrow {
    display: none;

    @include desktop() {
      display: block;
      width: 42px;
      height: 42px;

      position: absolute;
      top: calc(100% - 80px);
      left: calc(100% - 100px);
      z-index: 3;

      background-color: transparent;
      background-image: url(./assets/sprite.svg#about-slider-arrow);
    }
  }

  & .slick-prev {
    transform: translate(calc(-200% - 20px), -100%);
  }

  & .slick-next {
    transform: translate(-100%, -100%) rotate(180deg);
  }

  & .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;

    position: absolute;
    top: calc(100% - 40px);
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 3;

    font-size: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;

    & li {
      &::after {
        content: '';
        display: block;
        background-color: #ffffff30;
        width: $dot_size;
        height: $dot_size;
        border-radius: 50%;
      }

      &.slick-active {
        background-color: #fff;
        width: $dot_size;
        height: $dot_size;
        border-radius: 50%;
      }
    }

    @include desktop() {
      display: none !important;
    }
  }
}
