%lang-btn {
  display: inline-block;
  width: 35px;
  height: 35px;

  font-weight: 600;
  font-size: 15px;
  line-height: 1.45;
  text-align: center;
  text-transform: uppercase;
  color: getColor(txt-grey);

  background-color: getColor(disabled);
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

%lang-btn--active {
  color: #fff;
  background-color: getColor(main);
}

%arrow {
  display: flex;
  align-items: center;
}
%arrow-after {
  content: '';
  display: block;
  margin-left: 7px;
  width: 13px;
  height: 8px;
  background-image: url('../images/header/sprite.svg#header-arrow');
  transition: transform $arrow-animation;
}

%icon-before {
  content: '';
  display: block;
  margin-right: 7px;
  width: 22px;
  height: 22px;
}
