@import '../header-footer.scss';

.hero-sec {
  padding-top: 35px;
  padding-bottom: 35px;

  background-image: linear-gradient(
    to bottom,
    getColor(background-1) 0%,
    getColor(background-1) calc(400px + (100vh - #{$mobile}) / 2),
    getColor(main) calc(#{$mobile - 400px} + (100vh - #{$mobile}) / 2),
    getColor(main) 100%
  );

  @include mobile() {
    background-image: linear-gradient(
      to bottom,
      getColor(background-1) 0%,
      getColor(background-1) calc(400px + (100vh - #{$mobile}) / 2),
      getColor(main) calc(#{$mobile - 400px} + (100vh - #{$mobile}) / 2),
      getColor(main) 100%
    );
  }

  @include tablet() {
    background-image: linear-gradient(
      to bottom,
      getColor(background-1) 0%,
      getColor(background-1) calc(1230px + (100vh - #{$desktop}) / 2),
      getColor(main) calc(#{$desktop - 1230px} + (100vh - #{$desktop}) / 2),
      getColor(main) 100%
    );
  }

  @include desktop() {
    background-image: linear-gradient(
      to right,
      getColor(background-1) 0%,
      getColor(background-1) calc(1025px + (100vw - #{$desktop}) / 2),
      getColor(main) calc(#{$desktop - 1025px} + (100vw - #{$desktop}) / 2),
      getColor(main) 100%
    );
  }

  &__container {
    @include tablet() {
      display: flex;
      flex-direction: column;
    }

    @include desktop() {
      flex-direction: row;
      align-items: start;
    }
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: getColor(txt-black-2);

    @include tablet() {
      font-size: 38px;
    }

    @include tablet() {
      font-size: 46px;
      line-height: 120%;
    }

    @include desktop() {
      font-size: 64px;
      max-width: 660px;
      text-align: left;
    }

    &--blue {
      color: getColor(main);
    }
  }

  &__txt {
    font-size: 20px;
    line-height: 1.45;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: getColor(txt-black);
    text-align: center;

    @include desktop() {
      text-align: left;
      max-width: 578px;
    }
  }

  &__links {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include tablet() {
      width: 423px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop() {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__link-item {
    display: none;
    &:nth-child(1) {
      display: inline-block;
    }

    @include tablet() {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
    font-feature-settings: 'pnum' on, 'lnum' on;

    background-color: getColor(accent);
    color: getColor(txt-black-2);
    box-shadow: 0px 4px 12px rgba(25, 31, 28, 0.15);
    border-radius: 40px;

    transition: color background-color $animation;

    &:hover,
    &:focus {
      color: rgb(243, 229, 229);
    }

    &:nth-child(1) {
      padding: 20px 30px;
    }

    &:nth-child(n + 2) {
      width: 66px;
      height: 66px;
      border-radius: 50%;
    }
  }

  &__link {
    color: currentColor;
  }

  &__icon {
    transform: translate(0, 3px);
    stroke: currentColor;
  }

  &__numbers {
    display: none;
    margin-bottom: 30px;

    @include desktop() {
      margin-bottom: 0;
    }

    @include tablet() {
      display: flex;
      justify-content: space-between;
    }
  }

  &__number-item {
    flex-basis: 160px;
    padding: 10px 15px 13px;
    background-color: #fff;
    border-radius: 10px;
  }

  &__number {
    font-weight: 500;
    font-size: 28px;
    line-height: 145%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: getColor(txt-black-2);
  }

  &__num-caption {
    font-size: 17px;
    line-height: 145%;

    color: getColor(txt-black);
    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 2px;
      background-color: getColor(border);
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__right-side {
    margin: 0 auto;
    @include desktop() {
      margin-left: 132px;
    }
  }

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
