<section class="abbility">
  <div class="container">
    <h2 class="abbility__title"><span class="abbility__title-span">Ми вміємо</span></h2>
    <ul class="abbility__list">
      <li class="abbility__item abbility__item--first">
        <!-- ddddddd -->
        <picture class="abbility__thumb abbility__thumb--first">
          <source
            srcset="
              ./assets/1.webp     271w,
              ./assets/1@1.5.webp 407w,
              ./assets/1@2x.webp  542w,
              ./assets/1@3x.webp  813w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/1.png     271w,
              ./assets/1@1.5.png 407w,
              ./assets/1@2x.png  542w,
              ./assets/1@3x.png  813w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/png"
          />

          <img
            class="abbility__img"
            src="./assets/1.png"
            alt="Старі люди дбають про здоров'я одне одного"
          />
        </picture>
        <!-- dddddddd -->
        <div class="abbility__left-side abbility__left-side--first">
          <h3 class="abbility__name abbility__name--first">Результативно оперувати катаракту</h3>

          <p class="abbility__text abbility__text--first">
            Катаракта може розвивається з віком, а також від травми ока, попередньої операції на
            очах, при дегенеративній міопії...
          </p>
          <a class="abbility__link abbility__link--first" href=""
            ><span class="abbility__link--text">Детальніше</span
            ><span class="abbility__link--icon"></span
          ></a>
        </div>
      </li>
      <li class="abbility__item">
        <!-- ddddddd -->
        <picture class="abbility__thumb">
          <source
            srcset="
              ./assets/2.webp     271w,
              ./assets/2@1.5.webp 407w,
              ./assets/2@2x.webp  542w,
              ./assets/2@3x.webp  813w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/2.jpg     260w,
              ./assets/2@1.5.jpg 390w,
              ./assets/2@2x.jpg  520w,
              ./assets/2@3x.jpg  780w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/jpeg"
          />

          <img class="abbility__img" src="./assets/2.jpg" alt="Лазерна корекція ока" />
        </picture>
        <!-- dddddddd -->
        <h3 class="abbility__name">Проводити лазерну корекцію зору</h3>
        <p class="abbility__text">
          Захворювання сітківки в першу чергу лікується за допомогою термолазера
        </p>
        <a class="abbility__link" href=""
          ><span class="abbility__link--text">Детальніше</span
          ><span class="abbility__link--icon"></span
        ></a>
      </li>
      <li class="abbility__item">
        <!-- ddddddd -->
        <picture class="abbility__thumb">
          <source
            srcset="
              ./assets/3.webp     260w,
              ./assets/3@1.5.webp 390w,
              ./assets/3@2x.webp  520w,
              ./assets/3@3x.webp  780w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/3.jpg     260w,
              ./assets/3@1.5.jpg 390w,
              ./assets/3@2x.jpg  520w,
              ./assets/3@3x.jpg  780w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/jpeg"
          />

          <img class="abbility__img" src="./assets/3.jpg" alt="Операція на сітківку ока" />
        </picture>
        <!-- dddddddd -->
        <h3 class="abbility__name abbility__name--short">Рятувати сітківку</h3>
        <p class="abbility__text">
          Гостра патологія, яка без негайного оперативного лікування може...
        </p>
        <a class="abbility__link" href=""
          ><span class="abbility__link--text">Детальніше</span
          ><span class="abbility__link--icon"></span
        ></a>
      </li>
      <li class="abbility__item">
        <!-- ddddddd -->
        <picture class="abbility__thumb">
          <source
            srcset="
              ./assets/4.webp     260w,
              ./assets/4@1.5.webp 390w,
              ./assets/4@2x.webp  520w,
              ./assets/4@3x.webp  780w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/4.png     260w,
              ./assets/4@1.5.png 390w,
              ./assets/4@2x.png  520w,
              ./assets/4@3x.png  780w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/png"
          />

          <img class="abbility__img" src="./assets/4.png" alt="Дитина усміхається лікареві" />
        </picture>
        <!-- dddddddd -->
        <h3 class="abbility__name">Знаходити спільну мову з дітьми</h3>
        <p class="abbility__text">
          В центрі сучасної офтальмології "Світогляд" проводить консультації...
        </p>
        <a class="abbility__link" href=""
          ><span class="abbility__link--text">Детальніше</span
          ><span class="abbility__link--icon"></span
        ></a>
      </li>
      <li class="abbility__item">
        <!-- ddddddd -->
        <picture class="abbility__thumb">
          <source
            srcset="
              ./assets/5.webp     265w,
              ./assets/5@1.5.webp 398w,
              ./assets/5@2x.webp  530w,
              ./assets/5@3x.webp  795w
            "
            sizes="(min-width: 360px) 265px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/5.png     265w,
              ./assets/5@1.5.png 398w,
              ./assets/5@2x.png  530w,
              ./assets/5@3x.png  795w
            "
            sizes="(min-width: 360px) 265px, 100vw"
            type="image/png"
          />

          <img class="abbility__img" src="./assets/5.png" alt="Дівчина радіє знижкам на окуляри" />
        </picture>
        <!-- dddddddd -->
        <h3 class="abbility__name">Підбирати окуляри та контактні лінзи</h3>
        <p class="abbility__text">
          В нормі заломлююча система ока (рогівка та кришталик) фокусує...
        </p>
        <a class="abbility__link" href=""
          ><span class="abbility__link--text">Детальніше</span
          ><span class="abbility__link--icon"></span
        ></a>
      </li>
      <li class="abbility__item abbility__item--last">
        <!-- ddddddd -->
        <picture class="abbility__thumb abbility__thumb--last">
          <source
            srcset="
              ./assets/6.webp     312w,
              ./assets/6@1.5.webp 468w,
              ./assets/6@2x.webp  623w,
              ./assets/6@3x.webp  934w
            "
            sizes="(min-width: 360px) 260px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/6.png     312w,
              ./assets/6@1.5.png 468w,
              ./assets/6@2x.png  623w,
              ./assets/6@3x.png  934w
            "
            sizes="(min-width: 360px) 300px, 100vw"
            type="image/png"
          />

          <img
            class="abbility__img"
            src="./assets/6.png"
            alt="Старі люди дбають про здоров'я одне одного"
            width="300"
          />
        </picture>
        <!-- dddddddd -->
        <div class="abbility__left-side abbility__left-side--last">
          <h3 class="abbility__name abbility__name--last">Вирішити будь-які проблеми з зором</h3>
          <p class="abbility__text abbility__text--last">
            Ознайомтесь з іншими послугами, що пропонує клініка
          </p>
          <a class="abbility__link abbility__link--last" href=""
            ><span class="abbility__link--text">Переглянути всі послуги</span></a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
