<section class="about">
  <div class="about__left-side">
    <ul class="about__slides SEC-SLIDER">
      <li class="about__slide-item">
        <!-- ddddddd -->
        <picture class="about__thumb">
          <source
            srcset="
              ./assets/slide1-mob.webp       360w,
              ./assets/slide1-mob@1.5x.webp  541w,
              ./assets/slide1-mob@2x.webp    720w,
              ./assets/slide1-mob@3x.webp   1080w,
              ./assets/slide-1.webp         1305w,
              ./assets/slide-1@1.5x.webp    1958w,
              ./assets/slide-1@2x.webp      2610w,
              ./assets/slide-1@3x.webp      3915w
            "
            sizes="100%"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/slide1-mob.jpg       360w,
              ./assets/slide1-mob@1.5x.jpg  541w,
              ./assets/slide1-mob@2x.jpg    720w,
              ./assets/slide1-mob@3x.jpg   1080w,
              ./assets/slide-1.jpg         1305w,
              ./assets/slide-1@1.5x.jpg    1958w,
              ./assets/slide-1@2x.jpg      2610w,
              ./assets/slide-1@3x.jpg      3915w
            "
            sizes="100%"
            type="image/jpeg"
          />

          <img class="abbility__img" src="./assets/slide-1.jpg" alt="Лікар обстежує пацієнта" />
        </picture>
        <!-- dddddddd -->
      </li>
      <li class="about__slide-item">
        <!-- ddddddd -->
        <picture class="about__thumb">
          <source
            srcset="
              ./assets/slide-2-mob.webp       360w,
              ./assets/slide-2-mob@1.5x.webp  541w,
              ./assets/slide-2-mob@2x.webp    720w,
              ./assets/slide-2-mob@3x.webp   1080w,
              ./assets/slide-2.webp          1305w,
              ./assets/slide-2@1.5x.webp     1958w,
              ./assets/slide-2@2x.webp       2610w,
              ./assets/slide-2@3x.webp       3915w
            "
            sizes="100%"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/slide-2-mob.jpg       360w,
              ./assets/slide-2-mob@1.5x.jpg  541w,
              ./assets/slide-2-mob@2x.jpg    720w,
              ./assets/slide-2-mob@3x.jpg   1080w,
              ./assets/slide-2.jpg          1305w,
              ./assets/slide-2@1.5x.jpg     1958w,
              ./assets/slide-2@2x.jpg       2610w,
              ./assets/slide-2@3x.jpg       3915w
            "
            sizes="100%"
            type="image/jpeg"
          />

          <img
            class="abbility__img"
            src="./assets/slide-2.jpg"
            alt="Пацієнт лікується капельницею"
          />
        </picture>
        <!-- dddddddd -->
      </li>
      <li class="about__slide-item">
        <!-- ddddddd -->
        <picture class="about__thumb">
          <source
            srcset="
              ./assets/slide-3-mob.webp       360w,
              ./assets/slide-3-mob@1.5x.webp  541w,
              ./assets/slide-3-mob@2x.webp    720w,
              ./assets/slide-3-mob@3x.webp   1080w,
              ./assets/slide-3.webp          1305w,
              ./assets/slide-3@1.5x.webp     1958w,
              ./assets/slide-3@2x.webp       2610w,
              ./assets/slide-3@3x.webp       3915w
            "
            sizes="100%"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/slide-3-mob.jpg       360w,
              ./assets/slide-3-mob@1.5x.jpg  541w,
              ./assets/slide-3-mob@2x.jpg    720w,
              ./assets/slide-3-mob@3x.jpg   1080w,
              ./assets/slide-3.jpg          1305w,
              ./assets/slide-3@1.5x.jpg     1958w,
              ./assets/slide-3@2x.jpg       2610w,
              ./assets/slide-3@3x.jpg       3915w
            "
            sizes="100%"
            type="image/jpeg"
          />

          <img
            class="abbility__img"
            src="./assets/slide-3.jpg"
            alt="Нова клініка повністю готова до роботи"
          />
        </picture>
        <!-- dddddddd -->
      </li>
      <li class="about__slide-item">
        <!-- ddddddd -->
        <picture class="about__thumb">
          <source
            srcset="
              ./assets/slide-4-mob.webp       360w,
              ./assets/slide-4-mob@1.5x.webp  541w,
              ./assets/slide-4-mob@2x.webp    720w,
              ./assets/slide-4-mob@3x.webp   1080w,
              ./assets/slide-4.webp          1305w,
              ./assets/slide-4@1.5x.webp     1958w,
              ./assets/slide-4@2x.webp       2610w,
              ./assets/slide-4@3x.webp       3915w
            "
            sizes="100%"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/slide-4-mob.jpg       360w,
              ./assets/slide-4-mob@1.5x.jpg  541w,
              ./assets/slide-4-mob@2x.jpg    720w,
              ./assets/slide-4-mob@3x.jpg   1080w,
              ./assets/slide-4.jpg          1305w,
              ./assets/slide-4@1.5x.jpg     1958w,
              ./assets/slide-4@2x.jpg       2610w,
              ./assets/slide-4@3x.jpg       3915w
            "
            sizes="100%"
            type="image/jpeg"
          />

          <img
            class="abbility__img"
            src="./assets/slide-4.jpg"
            alt="Лікарі обсуджують деталі лікування"
          />
        </picture>
        <!-- dddddddd -->
      </li>
      <li class="about__slide-item">
        <!-- ddddddd -->
        <picture class="about__thumb">
          <source
            srcset="
              ./assets/slide-5-mob.webp       360w,
              ./assets/slide-5-mob@1.5x.webp  541w,
              ./assets/slide-5-mob@2x.webp    720w,
              ./assets/slide-5-mob@3x.webp   1080w,
              ./assets/slide-5.webp          1305w,
              ./assets/slide-5@1.5x.webp     1958w,
              ./assets/slide-5@2x.webp       2610w,
              ./assets/slide-5@3x.webp       3915w
            "
            sizes="100%"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/slide-5-mob.jpg       360w,
              ./assets/slide-5-mob@1.5x.jpg  541w,
              ./assets/slide-5-mob@2x.jpg    720w,
              ./assets/slide-5-mob@3x.jpg   1080w,
              ./assets/slide-5.jpg          1305w,
              ./assets/slide-5@1.5x.jpg     1958w,
              ./assets/slide-5@2x.jpg       2610w,
              ./assets/slide-5@3x.jpg       3915w
            "
            sizes="100%"
            type="image/jpeg"
          />

          <img class="abbility__img" src="./assets/slide-5.jpg" alt="Онлайн мітинг лікарів" />
        </picture>
        <!-- dddddddd -->
      </li>
    </ul>
  </div>
  <div class="about__right__side">
    <div class="container about__container">
      <h2 class="about__title"><span class="about__title-span">Про нас</span></h2>
      <p class="about__text">
        «Світогляд» - це найсучасніший центр офтальмології, який прагне досягти своїх зобов'язань
        надавати комплексні медичні послуги для своїх клієнтів
      </p>
      <div class="about__number"></div>
    </div>
    <a href="" class="about__link">Переглянути відео</a>
    <p class="about__video-caption">Це займе лише 36 секунд</p>
    <div class="about__decor"></div>
  </div>
</section>
