<section class="discount">
  <div class="container">
    <h2 style="display: none">Знижки</h2>
    <ul class="discount__cataloge discount-slider">
      <li class="discount__card">
        <!-- PICTURE -->
        <picture class="discount__thumb">
          <source
            srcset="
              ./assets/discount-card-1.webp     264w,
              ./assets/discount-card-1@1.5.webp 396w,
              ./assets/discount-card-1@2x.webp  528w,
              ./assets/discount-card-1@3x.webp  792w
            "
            sizes="100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/discount-card-1.png     264w,
              ./assets/discount-card-1@1.5.png 396w,
              ./assets/discount-card-1@2x.png  528w,
              ./assets/discount-card-1@3x.png  792w
            "
            sizes="100vw"
            type="image/png"
          />
          <img class="discount__img" src="./assets/discount-card-1.png" alt="Мати цілує дитину" />
        </picture>
        <!-- PICTURE -->
        <div class="discount__card-right">
          <h3 class="discount__title">Для цивільних</h3>
          <p class="discount__capture">з травмами ока отриманими внаслідок бойових дій</p>
          <ul class="discount__list">
            <li class="discount__unit">
              <span class="discount__num">-50&percnt;</span>
              <span class="dicount__unit--span">Діагностика</span>
            </li>
            <li class="discount__unit">
              <span class="discount__num">-20&percnt;</span>
              <span class="dicount__unit--span">Операція</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="discount__card">
        <!-- PICTURE -->
        <picture class="discount__thumb">
          <source
            srcset="
              ./assets/discount-card-2.webp     260w,
              ./assets/discount-card-2@1.5.webp 390w,
              ./assets/discount-card-2@2x.webp  520w,
              ./assets/discount-card-2@3x.webp  780w
            "
            sizes="100vw"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/discount-card-2.png     260w,
              ./assets/discount-card-2@1.5.png 390w,
              ./assets/discount-card-2@2x.png  520w,
              ./assets/discount-card-2@3x.png  780w
            "
            sizes="100vw"
            type="image/png"
          />
          <img
            class="discount__img"
            src="./assets/discount-card-2.png"
            alt="Жінкa в Збройних силах України"
          />
        </picture>
        <!-- PICTURE -->
        <div class="discount__card-right">
          <h3 class="discount__title">Для військових службовців</h3>
          <ul class="discount__list">
            <li class="discount__unit">
              <span class="discount__num">-30-50&percnt;</span
              ><span class="dicount__unit--span">Знижка на всі види операцій</span>
            </li>
            <li class="discount__unit">
              <span class="discount__num">Безкоштовно</span
              ><span class="dicount__unit--span">Діагностика</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
