<section class="faq">
  <div class="container">
    <div class="faq__left-site">
      <h2 class="faq__title">Найчастіші запитання</h2>
      <ul class="faq__list">
        <li class="faq__item" style="background-color: transparent">
          <div class="faq__comb">
            <h3 class="faq__sub-title">Скільки за часом займає діагностика?</h3>
            <button class="faq__btn" type="button" style="transform: rotate(45deg)"></button>
          </div>
          <p class="faq__answear" style="display: none">
            Катаракту не просто нужно, а необходимо оперировать! Ведь катаракта существенно снижает
            качество жизни. Также, чем больше зрелая ката, тем больше сложностей она вызывает:
            длительные процедуры и послеоперационный период, больше риск осложнения. Также,
            существуют варианты развития катаракты, которые ведут к необратимой потере зрения
          </p>
        </li>
        <li class="faq__item" style="background-color: transparent">
          <div class="faq__comb">
            <h3 class="faq__sub-title">Чи потрібно оперувати катаракту?</h3>
            <button class="faq__btn" type="button" style="transform: rotate(45deg)"></button>
          </div>
          <p class="faq__answear" style="display: none">
            Катаракту не просто нужно, а необходимо оперировать! Ведь катаракта существенно снижает
            качество жизни. Также, чем больше зрелая ката, тем больше сложностей она вызывает:
            длительные процедуры и послеоперационный период, больше риск осложнения. Также,
            существуют варианты развития катаракты, которые ведут к необратимой потере зрения
          </p>
        </li>
        <li class="faq__item" style="background-color: transparent">
          <div class="faq__comb">
            <h3 class="faq__sub-title">Які обмеження при глаукомі?</h3>
            <button class="faq__btn" type="button" style="transform: rotate(45deg)"></button>
          </div>
          <p class="faq__answear" style="display: none">
            Катаракту не просто нужно, а необходимо оперировать! Ведь катаракта существенно снижает
            качество жизни. Также, чем больше зрелая ката, тем больше сложностей она вызывает:
            длительные процедуры и послеоперационный период, больше риск осложнения. Также,
            существуют варианты развития катаракты, которые ведут к необратимой потере зрения
          </p>
        </li>
      </ul>
    </div>

    <!-- PICTURE -->
    <picture class="faq__thumb">
      <source
        srcset="
          ./assets/think-woman-mob.webp   320w,
          ./assets/think-woman.webp       580w,
          ./assets/think-woman@1.5x.webp  870w,
          ./assets/think-woman@2x.webp   1160w,
          ./assets/think-woman@3x.webp   1740w
        "
        sizes="(min-width: 720px) 580px, (min-width: 360px) 320px, 100vw"
        type="image/webp"
      />
      <source
        srcset="
          ./assets/think-woman-mob.png   320w,
          ./assets/think-woman.png       580w,
          ./assets/think-woman@1.5x.png  870w,
          ./assets/think-woman@2x.png   1160w,
          ./assets/think-woman@3x.png   1740w
        "
        sizes="(min-width: 720px) 580px, (min-width: 360px) 320px, 100vw"
        type="image/png"
      />
      <img class="faq__img" src="./assets/think-woman-mob.png" alt="Жінка думає" />
    </picture>
    <!-- PICTURE -->
  </div>
</section>
