<section class="find">
  <div class="container find__container">
    <div class="find__left-side"><span class="find__icon"></span></div>
    <div class="find__right-side">
      <h2 class="find__title">Де ми знаходимось</h2>
      <div class="find__under-box">
        <iframe
          class="find__google-iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2588.3747228855295!2d34.51683341535455!3d49.55295235950434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f8220580311%3A0x9fc49414b3907957!2z0KbQtdC90YLRgCDRgdGD0YfQsNGB0L3QvtGXINC-0YTRgtCw0LvRjNC80L7Qu9C-0LPRltGXIMKr0KHQktCG0KLQntCT0JvQr9CUwrs!5e0!3m2!1suk!2sfr!4v1674845957285!5m2!1suk!2sfr"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <ul class="find__list">
          <li class="find__item">
            <adress class="find__adress">
              <p class="find__text">
                <span class="decor-br">м. Полтава,</span>
                <span class="lang-span">Геннадія Біліченка</span>
                <span class="find__txt--big">29Б</span>
              </p>
            </adress>
          </li>
          <li class="find__item">
            <p class="find__text">
              <span class="decor-br">Понеділок-П’ятниця</span>
              <span class="find__txt--big"><time>9:00</time>-<time>18:00</time></span>
            </p>
          </li>
          <li class="find__item">
            <p class="find__text">
              <span class="decor-br">Субота</span>
              <span class="find__txt--big"><time>9:00</time>-<time>16:00</time></span>
            </p>
          </li>
          <li class="find__item">
            <p class="find__text">
              <span class="decor-br">Неділя</span>
              <span class="find__txt--big">Вихідний</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
