<section class="form">
  <div class="form__upper-sec">
    <div class="container form__container">
      <div class="form__left-side">
        <span class="form__icon"></span>
      </div>
      <div class="form__right-side">
        <h2 class="form__title">Запишіться на консультацію</h2>
        <p class="form__txt">
          <span class="form__txt-1-span-1">Та отримайте</span>
          <span class="form__txt--span">10% знижку</span>
          <span class="form__txt-1-span-2">при записі онлайн</span>
        </p>
        <form class="form__box">
          <div class="form__upper-box">
            <div class="form__sm-box">
              <input class="form__input js-input" type="text" name="data[name]" required /><label
                class="form__label"
                for="data[name]"
                >Ваше ім’я</label
              >
            </div>

            <div class="form__sm-box">
              <input class="form__input js-input" type="tel" name="data[tel]" required />
              <label class="form__label" for="data[tel]">Номер телефону</label>
            </div>
          </div>

          <div class="form__lower-box">
            <button class="form__btn" type="submit">Записатись на прийом</button>

            <div class="form__sm-box">
              <button class="form__sm-btn" type="button">
                <span class="form__sm-btn-span" style="transform: rotate(45deg)"></span>
                <span class="form__sm-btn-span-2">Додати коментар</span>
              </button>
              <textarea
                class="form__input--textarea js-input"
                name="data[txt]"
                style="display: none"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="form__lower-sec">
    <div class="container form__container">
      <div class="form__left-side">
        <span class="form__icon"></span>
      </div>
      <div class="form__right-side">
        <p class="form__txt">
          <span class="form__txt-2-span-1">Або запишіться по телефону</span>
        </p>
        <ul class="form__number-list">
          <li class="form__number-item">
            <a class="form__link" href="tel:+380504052000">+38 (050) 405-20-00</a>
          </li>
          <li class="form__number-item">
            <a class="form__link" href="tel:+380974052000">+38 (097) 405-20-00</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
