<header class="header">
  <div class="container header__container">
    <a class="header-logo" href="./index.html">
      <svg class="header-logo__icon">
        <use href="./assets/sprite-hed.svg#logo"></use>
      </svg>
    </a>
    <button class="header__burger" type="button" data-open-menu></button>
    <div class="header__right">
      <address class="adress header_adress header__upper">
        <a class="adress__license" href="license.txt" download
          >Ліцензія № 2588 від 20.12.2019 року</a
        >
        <a class="adress__street" href="">м. Полтава, Геннадія Біліченка, 29Б</a>
        <a class="adress__tel" href="tel:+380504052000">+38 (050) 405-20-00</a>
      </address>
      <div class="header__delimiter"></div>
      <div class="header__lower">
        <nav class="nav header__nav">
          <ul class="nav__list">
            <li class="nav__item nav-services">
              <a href="" class="nav__link nav__link--arrow">Послуги</a>
              <div class="nav-services__container">
                <ul class="nav-services__list">
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Лікування катаракти</a>
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Лазерна корекція зору</a>
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href=""
                      >Хірургія сітківки та склоподібного тіла</a
                    >
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Дитяча офтальмологія</a>
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Лазерні методи лікування</a>
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Введення препаратів в скловидне тіло</a>
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Лікування глаукоми</a>
                  </li>
                  <li class="nav-services__item">
                    <a class="nav-services__link" href="">Окуляри та контактні лінзи</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav__item nav-doctors">
              <a href="" class="nav__link nav__link--arrow">Лікарі</a>
              <div class="nav-doctors__container">
                <ul class="nav-doctors__list">
                  <li class="nav-doctors__item">
                    <a class="nav-doctors__link" href="">Шаткун Андрій Анатолійович</a>
                  </li>
                  <li class="nav-doctors__item">
                    <a class="nav-doctors__link" href="">Наконечний Денис Олександрович</a>
                  </li>
                  <li class="nav-doctors__item">
                    <a class="nav-doctors__link" href="">Клочко Марина Миколаївна</a>
                  </li>
                  <li class="nav-doctors__item">
                    <a class="nav-doctors__link" href="">Симітко Тетяна Сергіївна</a>
                  </li>
                  <li class="nav-doctors__item">
                    <a class="nav-doctors__link" href="">Миронова Ірина Сергіївна</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav__item"><a href="" class="nav__link">Ціни</a></li>
            <li class="nav__item"><a href="" class="nav__link">Акції</a></li>
            <li class="nav__item"><a href="" class="nav__link">Відгуки</a></li>
            <li class="nav__item"><a href="" class="nav__link">Контакти</a></li>
          </ul>
          <button class="nav__btn nav__btn--active nav__btn--ua" disabled type="button">ua</button>
          <button class="nav__btn nav__btn--ru" type="button">ru</button>
        </nav>
      </div>
    </div>
    <div class="mob-menu mob-menu--is-closed header__mob-menu" data-menu-container>
      <div class="mob-menu__container">
        <nav class="mob-menu__nav">
          <div class="mob-menu__btn-block">
            <button
              class="mob-menu__lang-btn mob-menu__lang-btn--active mob-nav__btn--ua"
              type="button"
              disabled
            >
              ua
            </button>
            <button class="mob-menu__lang-btn mob-nav__btn--ru" type="button">ru</button>
            <button class="mob-menu__close-btn" type="button" data-close-menu></button>
          </div>
          <ul class="mob-nav__list">
            <!-- Services -->
            <li class="mob-nav__item mob-services">
              <a href="" class="mob-nav__link mob-nav__link--arrow">Послуги</a>
              <div class="mob-services__container">
                <ul class="mob-services__list">
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Лікування катаракти</a>
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Лазерна корекція зору</a>
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href=""
                      >Хірургія сітківки та склоподібного тіла</a
                    >
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Дитяча офтальмологія</a>
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Лазерні методи лікування</a>
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Введення препаратів в скловидне тіло</a>
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Лікування глаукоми</a>
                  </li>
                  <li class="mob-services__item">
                    <a class="mob-services__link" href="">Окуляри та контактні лінзи</a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- Doctors -->
            <li class="mob-nav__item mob-doctors">
              <a href="" class="mob-nav__link mob-nav__link--arrow">Лікарі</a>
              <div class="mob-doctors__container">
                <ul class="mob-doctors__list">
                  <li class="mob-doctors__item">
                    <a class="mob-doctors__link" href="">Шаткун Андрій Анатолійович</a>
                  </li>
                  <li class="mob-doctors__item">
                    <a class="mob-doctors__link" href="">Наконечний Денис Олександрович</a>
                  </li>
                  <li class="mob-doctors__item">
                    <a class="mob-doctors__link" href="">Клочко Марина Миколаївна</a>
                  </li>
                  <li class="mob-doctors__item">
                    <a class="mob-doctors__link" href="">Симітко Тетяна Сергіївна</a>
                  </li>
                  <li class="mob-doctors__item">
                    <a class="mob-doctors__link" href="">Миронова Ірина Сергіївна</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mob-nav__item"><a href="" class="mob-nav__link">Ціни</a></li>
            <li class="mob-nav__item"><a href="" class="mob-nav__link">Акції</a></li>
            <li class="mob-nav__item"><a href="" class="mob-nav__link">Відгуки</a></li>
            <li class="mob-nav__item"><a href="" class="mob-nav__link">Контакти</a></li>
          </ul>
        </nav>
        <address class="mob-adress header_mob-adress">
          <a class="mob-adress__license" href="license.txt" download
            >Ліцензія № 2588 від 20.12.2019 року</a
          >
          <a class="mob-adress__street" href="">м. Полтава, Геннадія Біліченка, 29Б</a>
          <a class="mob-adress__tel" href="tel:+380504052000">+38 (050) 405-20-00</a>
        </address>
      </div>
    </div>
  </div>
</header>
