<section class="hero-sec">
  <div class="container hero-sec__container">
    <div class="hero-sec__left-side">
      <h1 class="hero-sec__title">
        <span>Центр сучасної</span> <span class="hero-sec__title--blue">офтальмології</span>
      </h1>
      <p class="hero-sec__txt">
        Сучісні методи лікування, які застосовуються в центрі «Світогляд», дозволяють позбутися
        захворювання швидко і безболісно, та повернути повноцінний зір
      </p>
      <ul class="hero-sec__links">
        <li class="hero-sec__link-item">
          <a href="" class="hero-sec__link">Онлайн запис на прийом</a>
        </li>
        <li class="hero-sec__link-item">
          <a href="" class="hero-sec__link">
            <svg class="hero-sec__icon" width="25" height="25">
              <use href="./assets/sprite.svg#main-tel"></use>
            </svg>
          </a>
        </li>
        <li class="hero-sec__link-item">
          <a href="" class="hero-sec__link">
            <svg class="hero-sec__icon" width="25" height="25">
              <use href="./assets/sprite.svg#main-faq"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="hero-sec__numbers">
        <li class="hero-sec__number-item">
          <p class="hero-sec__number">
            <span>22 роки</span> <span class="hero-sec__num-caption">успішної роботи</span>
          </p>
        </li>
        <li class="hero-sec__number-item">
          <p class="hero-sec__number">
            5000+<span class="hero-sec__num-caption">операцій на рік</span>
          </p>
        </li>
        <li class="hero-sec__number-item">
          <p class="hero-sec__number">
            15 000<span class="hero-sec__num-caption">здорових поглядів</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="hero-sec__right-side">
      <picture class="hero-sec__thumb">
        <source
          srcset="
            ./assets/hero_center@1x.webp    580w,
            ./assets/hero_center@1.5x.webp  870w,
            ./assets/hero_center@2x.webp   1160w,
            ./assets/hero_center@3x.webp   1740w
          "
          sizes="(min-width: 1290px) 580px, (min-width: 720px) 420px, (min-width: 360px) 320px, 100vw"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/hero_center@1x.png    580w,
            ./assets/hero_center@1.5x.png  870w,
            ./assets/hero_center@2x.png   1160w,
            ./assets/hero_center@3x.png   1740w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          type="image/png"
        />

        <img
          class="hero-sec__img"
          src="./assets/hero_center@1x.png"
          alt="Літні люди почуваються здорово"
        />
      </picture>
    </div>
  </div>
</section>
