<section class="reviews">
  <div class="container">
    <div class="reviews__upper">
      <div class="reviews__smi-a-txt">
        <div class="reviews__left-decor">
          <span class="reviews__smile"></span>
          <span class="reviews__smile"></span>
          <span class="reviews__smile"></span>
        </div>

        <div class="reviews__text-box">
          <h2 class="reviews__title">Відгуки наших пацієнтів після лікування у нас</h2>
          <p class="reviews__text">
            Ваші здорові очі, сповнені радості — щастя для нас. Ми щиро дбаємо про пацієнтів, тому
            поєднуємо у своїй роботі сучасні технології та високий рівень обслуговування
          </p>
        </div>
      </div>

      <div class="reviews__right-side">
        <a href="" class="reviews__link" target="_blank" rel="noreferrer noopener nofollow">
          Залишити відгук
        </a>
        <img class="reviews__img" src="./assets/reviews.png" alt="Google reviews" />
        <p class="reviews__string">
          <span class="reviews__stars"></span>
          <span class="reviews__stars reviews__stars--reverse"></span>
          <span class="reviews__num"></span>
          <span class="reviews__string--span">Середня оцінка</span>
        </p>
      </div>
    </div>

    <ul class="reviews__slider"></ul>
  </div>
</section>
